.app-grid{
    display: grid;
    grid-template-rows: 1fr 6fr 10fr 1fr 10fr;
    grid-template-columns: 200px 1fr 3fr 6fr;
    background-color: darkgrey;
    height: 1500px;
    gap: 5px
}

.banner{
    grid-column: 1 / -1;
    padding: 5px;
}

.panel{
    padding: 5px;
    box-sizing: border-box;
}

.controls{
    font-size: small;
    padding: 5px;
}

/* Title banner */
#title-banner {
    grid-row: 1 / 2;
    background-color: rgb(5, 5, 70);
    color: white;
}

/* Control blocks */
.control-block {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
}

.control-block label {
    display: block;
    font-size: 14;
    font-weight: 600;
    margin-bottom: 4px;
}

.control-block legend {
    font-size: 14px;
    font-weight: 600;
    padding: 0 4px;
}

.sub-control label {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}

.button-column { 
    display: flex;
    flex-direction: column;
    gap: 8px
}

.button-column button {
    width: 75%;
    padding: 6px 8px;
    font-size: 12px;
}

/* Pannels layout and styling */

/* Main blocks */

#session-control{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    overflow: auto;
    font-size: small;
    background-color: rgb(237, 247, 255);
}

#roi-aggrid{
    grid-row: 2 / 3;
    grid-column: 4 / -1;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#viz-panel{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: minmax(200px, 1fr) 100px;
    gap: 5px;
    background-color: rgb(237, 247, 255);
}

#roi-n-echotype-figs {
    grid-row: 3 / 4;
    grid-column: 3 / -1;
    background-color: rgb(255, 255, 255);
}

#select-panel{
    grid-row: 5 / -1;
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    gap: 5px;
    background-color: rgb(237, 247, 255);
}

#selection-tabs{
    grid-row: 5 / -1;
    grid-column: 3 / -1;
    background-color: rgb(255, 255, 255);
}


/* Sub block */
/* Viz control */

#viz-panel-title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    padding-left: 0px;
}

#viz-controls {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    background-color: rgba(255, 255, 255, 0);
}

#slider {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: rgba(255, 255, 255, 0);
}

/* Clustering controls */

#select-panel-title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0px;
}

#echotype-info {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    font-size: small;
    background-color: rgba(255, 255, 255, 0);
}

#db-interact{
    grid-row: 3 / -1;
    grid-column: 1 / 2;
    background-color: rgba(255, 255, 255, 0);
}

/* Echotype banner styling */

#echotype-banner {
    grid-row: 4 /5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 247, 255);
}

/* Table & export inputs */

#export-controls {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
}
